{% extends 'base.html' %}
{% load extras %}

{% block content %}
    <div class="col-12" style="margin-top: 20px">
        <div class="alert alert-success">
            Sua consulta foi reservada com sucesso!
            Assim que seu método de pagamento for aprovado, enviaremos um e-mail com a confirmação da consulta.
        </div>
    </div>
    <div class="col-12" style="margin-bottom: 10px">
        <a class="btn btn-secondary my-1" href="{% url 'doctor_profile' pk=doctor_id %}">Voltar</a>
    </div>
{% endblock %}