{% extends 'base.html' %}

{% block content %}

<style>
	.ma-container {
		display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
	}
	.ma-content {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.ma-bold {
		font-weight: bold;
	}
	.ma-main-text {
		font-size: 20px;
	}
	@media (max-width: 768px) {
		.ma-container {
			margin-top: 80px;
		}
	}
</style>

<div class="ma-container">
  <div class="ma-content">

	<span class="ma-main-text">
		Bem vindo ao <span class="ma-bold">Medical Advisor</span>, busque por médicos de diferentes especialidades, veja suas avaliações, e agende sua consulta!
	</span>

  </div>
</div>

{% endblock %}