{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'dash/css/sans-pro.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dash/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dash/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dash/css/lte.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dash/css/skins/skin-green.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dash/css/style.css' %}">
