<div class="row">
    <div class="col-xs-12">
        <p>
            Você tem certeza que deseja excluir esse registro?
            <br>
            <span class="text-muted">Note que essa ação não pode ser revertida.</span>
        </p>
        <form action="{% url action pk=object.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Sim</button>
            <a href="{% url redirect %}" class="btn btn-danger">Não</a>
        </form>
    </div>
</div>
