<!DOCTYPE html>
<html lang="pt-br">
    {% include "dash/parts/head.html" %}

    <body class="login-page">
        <div class="login-box">
            <div class="login-logo">
                <b><a href="#">Recuperação de senha</a></b>
            </div>
            <div class="login-box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group has-feedback">
                                <input type="email" name="email" class="form-control" placeholder="E-mail" autofocus required>
                                <small class="text-danger">
                                    {% for error in form.email.errors %}{{ error|escape }}{% endfor %}
                                </small>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-info btn-block btn-flat">Recuperar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include "dash/parts/js.html" %}
    </body>
</html>
