<!DOCTYPE html>
<html lang="pt-br">
    {% include "dash/parts/head.html" %}

    <body class="login-page">
        <div class="login-box">
            <div class="login-logo">
                <b><a href="#">Alterar senha</a></b>
            </div>
            <div class="login-box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Atenção
                        </h4>
                        <p>
                            <ul>
                                <li>Sua senha não pode ser tão parecida com suas outras informações pessoais.</li>
                                <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                                <li>Sua senha não pode ser uma senha habitualmente utilizada.</li>
                                <li>Sua senha não pode ser inteiramente numérica.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-xs-12"><hr></div>
                    <div class="col-xs-12">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group has-feedback">
                                <input type="password" name="old_password" class="form-control" placeholder="Senha antiga" autofocus required>
                                <small class="text-danger">
                                    {% for error in form.old_password.errors %}{{ error|escape }}{% endfor %}
                                </small>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" name="new_password1" class="form-control" placeholder="Nova senha" required>
                                <small class="text-danger">
                                    {% for error in form.new_password1.errors %}{{ error|escape }}{% endfor %}
                                </small>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" name="new_password2" class="form-control" placeholder="Confirmação de nova senha" required>
                                <small class="text-danger">
                                    {% for error in form.new_password2.errors %}{{ error|escape }}{% endfor %}
                                </small>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-success btn-block btn-flat">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include "dash/parts/js.html" %}
    </body>
</html>
