<!DOCTYPE html>
<html lang="pt-br">
    {% include "dash/parts/head.html" %}

    <body class="login-page">
        <div class="login-box">
            <div class="login-logo">
                <b><a href="#">Alterar senha</a></b>
            </div>
            <div class="login-box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="text-success">
                            <strong>Redefinição de senha enviada.</strong>
                        </h4>
                        <p>
                            Nós te enviamos por e-mail as instruções para redefinição de sua senha. Você receberá a mensagem em breve.
                            Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se registrar e sua pasta de spam.
                        </p>
                        <a href="{% url 'login' %}">Voltar para o login</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
