<!DOCTYPE html>
<html lang="pt-br">
    {% include "dash/parts/head.html" %}

    <body class="login-page">
        <div class="login-box">
            <div class="login-logo">
                <b><a href="#">Recuperar senha</a></b>
            </div>
            <div class="login-box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="text-success">
                            <strong>Sua senha foi alterada com sucesso.</strong>
                        </h4>
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
