<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Medical Advisor</title>

        {% load static %}

        <!-- Bootstrap core CSS -->
        <link href="{% static "website/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{% static "website/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
        <link href="{% static "website/vendor/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="{% static "website/css/landing-page.min.css" %}" rel="stylesheet">

         <!-- Bootstrap core JavaScript -->
        <script src="{% static "website/vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "website/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static "website/img/logo.png" %}">
                </a>
                {% if user.is_authenticated %}
                    Olá, {{ user.first_name }}
                {% else %}
                    <a class="btn btn-success" href="#">Entrar</a>
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="#">Sobre</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="#">Contato</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="#">Termos de Uso</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="#">Política de Privacidade</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="admin/logout">Sair</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; MedicalAdvisor 2018. Todos os direitos reservados.</p>
                    </div>

                </div>

            </div>
        </footer>

    </body>
</html>