<div class="row">
    <div class="col-md-12">
        {% if appointments|length == 0 %}
            <div class="alert">Você não possui consultas marcadas.</div>
        {% else %}
            {% for appointment in appointments %}
                <div class="col-md-6 pull-left">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ appointment.doctor.speciality }}
                            <br>
                            Dr(a). {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}
                            <br>
                            {{ appointment.datetime }}
                            <br>
                            <a href="{% url 'appointment-detail' pk=appointment.id %}" title="Detalhes">
                                <i class="fa fa-eye"></i>
                            </a>
                            {% if closed and not appointment.rating %}
                                &ensp;
                                <a href="{% url 'rating-create' pk=appointment.id %}" title="Avaliar">
                                    <i class="fa fa-star"></i>
                                </a>
                            {% elif not closed %}
                                &ensp;
                                <a href="{% url 'appointment-delete' pk=appointment.id %}" title="Cancelar">
                                    <i class="fa fa-ban"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

