{% load extras %}

{% if days_times|length == 0 %}
    <div class="alert alert-info">Não há agenda para exibir.</div>
{% else %}
    <div class="row">
    {% for dt in days_times %}
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <strong>{{ dt.day.day|weekday }}</strong>
                    </h3>
                </div>
                <table class="table">
                    {% for ts in dt.times %}
                        <tr>
                            <td>
                                {{ ts.start_time }}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;{{ ts.end_time }}
                            </td>
                            <td>
                                <small>
                                    <a href="{% url 'doctor-delete-schedule' ds_id=dt.day.id ts_id=ts.id %}" title="Remover">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </small>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
